spring:
  application:
    name: blogapp
  datasource:
    url: jdbc:mysql://localhost:3306/blogapp_db
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080